a.active{
  font-weight: bold;
  border-bottom: 1px solid #006837;
}

.custom_width{
  width: 300px;
}

.hide_scroll_bar::-webkit-scrollbar{
  display: none;
  color: #78777755;
}

.custom_index{
  z-index: 20 !important;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0 20px;
}

.swiper-slide {
  background-color: #ccc;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px #8887877e;
  color: #0000002b;
}

.bg-dark-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000dd;
  z-index: -1;
}

.slider_wrapper_container{
  background-color: transparent;
}

.swiper-slide {
  margin: 10px 0;
  padding: 10px;
  background: transparent;
  box-shadow: none;
}

.custom_shadow{
  box-shadow: 0 0 10px #a3a1a1c2;
}

.transparent_bg{
  background: #1212122f;
}

.toast-message {
  margin: 15px 25px;
}

.loading{
  position: relative;
}

.loading::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background: transparent;
  border: 5px solid #f7dedef9;
  border-top-color: #D26769;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading{
  0%{
    transform: translate(-50%, -50%) rotate(1turn);
  }
}